<div class="header">
  <section class="container">
    <div class="container-placa">
      <div class=" placa texto-placa">{{cliente[0]?.plate | slice:0:3}}</div>
      <div class="icono-placa"></div>
      <div class=" placa numero-placa">{{cliente[0]?.plate | slice:3}}</div>
    </div>
    <p class="texto-colombia">COLOMBIA</p>
  </section>
  <div class="container-info">
    <h5>{{ cliente[0]?.name }}</h5>
    <h5> {{ cliente[0]?.numberDocument ? cliente[0]?.numberDocument : 'No registra telefono' }} </h5>
    <h5> {{ cliente[0]?.email ? cliente[0]?.email : 'No registra correo' }} </h5>
  </div>
</div>
<section class="container-brand">
  <div class="brands brand">
    <h4>{{cliente[0]?.vehicleBrand}}</h4>
  </div>
  <div class=" brands vehicle">
    <h4>
      {{cliente[0]?.vehicle}}
    </h4>
  </div>
</section>
