
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 20px;
}

.container {
  width: 150px;
  height: 75px;
  background-color: #fca103;
  border-radius: 5px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 0px 2px #fca103;
}

.container-placa {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-info {
  font-weight: bold;
  margin-top: -10px;
}


.icono-placa {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
}

.placa {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5px;
}

.texto-colombia {
  text-align: center;
  margin-top: -10px;
}

.container-brand {
  display: flex;
  justify-content: space-around;
}

h4 {
  font-weight: bold;
  padding-top: 10px;
}
