
<section>
<div>

  <form nz-form [formGroup]="formFilter" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <nz-select class="select" formControlName="vehicleBrand" nzPlaceHolder="Seleccione una opcion">
          @for (item of brands; track item?.id) {
            <nz-option [nzValue]="item?.name" [nzLabel]="item.name"></nz-option>
          }
        </nz-select>
      </div>
      <div>
        <nz-select class="input" formControlName="typeJobs" nzPlaceHolder="Seleccione una opcion">
          @for (item of typeJobs; track item?.id) {
          <nz-option [nzValue]="item?.id" [nzLabel]="item?.nombre" ></nz-option>
          }
        </nz-select>
      </div>
    </div>
<div>
  <label for="">Filtrar por:</label>
  <nz-select ngModel="" nzPlaceHolder="Seleccione una opcion">
    <nz-option nzValue="year" nzLabel="Año"></nz-option>
    <nz-option nzValue="month" nzLabel="Mes"></nz-option>
  </nz-select>
</div>
  <div>
      <nz-date-picker nzMode="month"></nz-date-picker>
      <nz-date-picker nzMode="year"></nz-date-picker>
  </div>
  <div>
    <button (click)="onSubmit()">Filtrar</button>
  </div>
  </form>

</div>

</section>


<!--
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  legendTitle="Resume"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>

<ngx-charts-bar-horizontal
[view]="view"
[scheme]="colorScheme"
[results]="dataT"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[xScaleMax]="100"
(select)="onSelect($event)">
</ngx-charts-bar-horizontal> -->
