<nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="filtroNombre">
  <span nz-icon nzType="search"></span>
</nz-filter-trigger>



<nz-dropdown-menu #filtroNombre="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Buscar nombre" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
      <button nz-button nzSize="small" (click)="reset()">Borrar</button>
    </div>
  </div>
</nz-dropdown-menu>


