.container-form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.group-inputs {
  width: 100%;
}

.title-form {
  text-align: center;
}

.container-inputs {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content:space-around;
  gap: 6%;
  margin-bottom: 15px;
}

.block-input {
  margin-bottom: 10px;
}

.container-btn {
  margin-left: auto;
  margin-right: auto ;
  width: 50%;
}

.select {
  width: 100%;
}
