<nz-table
#nzTable
[nzData]="datosClientes"
[nzTotal]="datosClientes.length"
nzTableLayout="fixed"
[nzScroll]="{ y: '500px' }"
[nzShowPagination]="false"
[nzFrontPagination]="false"
[nzPageSize]="10"
[nzPageIndex]="paginaActual()"
(nzPageIndexChange)="cambioPagina($event)"
(nzCurrentPageDataChange)="actualizarPagina($event)"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Nombre
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="filtroNombre">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th>Placa</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    @for (data of datosClientes; track $index) {
      <tr>
        <td>{{ data?.name ? data?.name : 'No registra' }}</td>
        <td>{{ data?.plate ? data?.plate : 'No registra'}}</td>
        <td>{{ data?.numberDocument ? data?.numberDocument : 'No registra' }}</td>
      </tr>
    }
  </tbody>
</nz-table>
<nz-dropdown-menu #filtroNombre="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Buscar nombre" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
      <button nz-button nzSize="small" (click)="reset()">Borrar</button>
    </div>
  </div>
</nz-dropdown-menu>

<!-- <nz-pagination [nzPageIndex]="3" [nzTotal]="datosClientes.length" nzShowSizeChanger [nzPageSize]="10"></nz-pagination> -->
