<h2>Total registros encontrados: <span class="total">{{datosClientes.length}}</span> </h2>
<hr>
<nz-table
#nzTable
[nzData]="datosClientes"
[nzTotal]="datosClientes.length"
nzTableLayout="fixed"
[nzScroll]="{ y: '720px' }"
[nzShowPagination]="false"
[nzFrontPagination]="false"
[nzPageSize]="10"
[nzPageIndex]="paginaActual()"
(nzPageIndexChange)="cambioPagina($event)"
(nzCurrentPageDataChange)="actualizarPagina($event)"
>
  <thead>
    <tr>
      <th>Nombre
        <app-search-name [Data]="datosClientes" (ResultadoBuscador)="datosClientes = $event"></app-search-name>
      </th>
      <th>N° documento</th>
      <th>Placa
        <app-search-placa [Data]="datosClientes" (ResultadoBuscador)="datosClientes = $event"></app-search-placa>
      </th>
      <th>Modelo</th>
      <th>Vehiculo
        <app-search-vehiculo  [Data]="datosClientes" (ResultadoBuscador)="datosClientes = $event"></app-search-vehiculo>
      </th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (data of datosClientes; track $index) {
      <tr>
        <td>{{ data?.name ? data?.name : 'NO REGISTRA' }}</td>
        <td>{{ data?.numberDocument ? data?.numberDocument : 'NO REGISTRA'}}</td>
        <td>{{ data?.plate ? data?.plate : 'NO REGISTRA'}}</td>
        <td>{{ data?.vehicle }}</td>
        <td>{{ data?.vehicleBrand }}</td>
        <td>
        <button class="btn" nz-button nzType="primary" > Ver mas</button>
        <button class="btn" nz-button nzType="default" > Agregar trabajo</button>
        </td>
      </tr>
    }
  </tbody>
</nz-table>


<!-- <nz-pagination [nzPageIndex]="3" [nzTotal]="datosClientes.length" nzShowSizeChanger [nzPageSize]="10"></nz-pagination> -->
