
<section class="section-one">
  @if (trabajosCliente != 0) {
    <section class="jobs-header">
      <div>
        <h3>Historial de trabajos realizados</h3>
      </div>
    <div>
      <button nz-button nzType="primary" nzSize="small" (click)="mostrarModal(cliente.plate)" > <span nz-icon nzType="form" nzTheme="outline"></span>  Nuevo trabajo</button>
    </div>
    </section>
  <nz-tabset>
    @for (item of trabajosCliente; track item.id) {
    <nz-tab [nzTitle]="item?.typeJobs">
      <div class="dates">
        <nz-tag
        [nzColor]="'geekblue'"
        >
        <span
        nz-icon nzType="calendar"
        nzTheme="outline"
        >
      </span> {{item?.date | date: 'longDate' : 'locale': 'ES'}}
          <span
            nz-tooltip
            nzTooltipTitle="Fecha del trabajo ralizado"
            nzTooltipColor="geekblue"
            nz-icon
            nzType="check-circle"
            nzTheme="outline"
            >
          </span>
        </nz-tag>

        @if (item?.nextDate) {
          <nz-tag
          [nzColor]="'volcano'"
          > <span
          nz-icon nzType="calendar"
          nzTheme="outline"
          >
        </span> {{item?.nextDate | date: 'longDate' : 'locale': 'ES'}}
        <span
              nz-tooltip
              [nzTooltipTitle]="textDate + item?.typeJobs"
              nzTooltipColor="volcano"
              nz-icon
              nzType="sync"
              nzTheme="outline"
              ></span>
          </nz-tag>
        }
      </div>

      <div class="orden">
        <h4>Orden: <nz-tag [nzColor]="'#65727c'"># {{item?.numberOrder}}</nz-tag> </h4>
      </div>
      <div class="precio">
        <h4>Costo: &nbsp;<nz-tag [nzColor]="'#65727c'">{{item?.price | currency: '': 'symbol'}}</nz-tag></h4>
      </div>
      <div class="descripcion">
        <h4>Descripcion del trabajo realizado</h4>
        <p>{{item?.description}}</p>
      </div>
      <div class="btn-delete-job">
        <button
          nz-popconfirm
          nzPopconfirmTitle="Estas seguro que deseas eliminar este trabajo?"
          nzPopconfirmPlacement="bottom"
          nz-button
          nzSize="small"
          nzDanger="default"
          [nzOkDanger]="true"
          (nzOnConfirm)="deleteOrder(item?.numberOrder)"
          (nzOnCancel)="cancel()"
          ><span
          nz-icon
          nzType="delete"
          nzTheme="outline">
        </span>
        Eliminar este trabajo
      </button>
      </div>
    </nz-tab>
    }
  </nz-tabset>

  }@else {
    <h4>Este cliente aún no tiene ningún trabajo registrado</h4>
  }


  <nz-modal
  [(nzVisible)]="modalVisible"
  nzTitle="Ingresa los datos del trabajo realizado"
  (nzOnCancel)="cancelarModal()"
  [nzOkLoading]="isOkLoading"
  [nzFooter]="null"
  >
  <app-formulario-nuevo-trabajo [cliente]="cliente[0]" *nzModalContent/>
  </nz-modal>
</section>


