<div>
  <form [formGroup]="formNuevoTrabajo">

    <section class="section-one" >
      <div class="input jobs">
        <label for="">Tipo de trabajo realizado</label>
        <div>
          <nz-select class="input" formControlName="typeJobs" nzPlaceHolder="Seleccione una opcion">
            @for (item of tiposTrabajos; track item?.id) {
            <nz-option [nzValue]="item?.id" [nzLabel]="item?.nombre" ></nz-option>
            }
          </nz-select>
        </div>
        @if (invalidField('typeJobs') && hasRequiredError(formNuevoTrabajo?.controls?.['typeJobs'])) {
          <div class="error" >
              <span > Campo obligatorio </span>
          </div>
        }

      </div>
      <div class="input order">
        <label for="">Nº de orden</label>
        <div>
          <input
            nz-input
            formControlName="numberOrder"
            placeholder="0000"
            type="number"
            maxlength="12"
            minlength="4"
            />
        </div>
        @if (invalidField('numberOrder') && hasRequiredError(formNuevoTrabajo?.controls?.['numberOrder'])) {
          <div class="error" >
            <span > Campo obligatorio </span>
          </div>
        }
      </div>
    </section>

    <div>
      <span nz-tooltip nzTooltipTitle="Ingresa el numero sin puntos ni comas" nz-icon nzType="info-circle" nzTheme="twotone" nzTooltipColor="blue"></span>
      <label for=""> Costo</label>
      <div>
        <input nz-input formControlName="price" placeholder="0000" type="number" />
      </div>
      @if (invalidField('price') && hasRequiredError(formNuevoTrabajo?.controls?.['price'])) {
        <div class="error" >
            <span > Campo obligatorio </span>
        </div>
      }
    </div>

    <section class="section-two">
      <div>
        <label for="">Fecha</label>
        <div>
          <nz-date-picker formControlName="date"></nz-date-picker>
        </div>
        @if (invalidField('date') && hasRequiredError(formNuevoTrabajo?.controls?.['date'])) {
          <div class="error" >
            <span > Campo obligatorio </span>
          </div>
        }
      </div>
      <div >
        <label for="">Proxima fecha</label>
        <div>
          <nz-date-picker formControlName="nextDate"></nz-date-picker>
        </div>
      </div>
    </section>


    <div>
      <label for="">Escriba el trabajo realizado</label>
      <div>
        <textarea nz-input formControlName="description" rows="4"></textarea>
      </div>
      @if (invalidField('description') && hasRequiredError(formNuevoTrabajo?.controls?.['description'])) {
        <div class="error" >
          <span > Campo obligatorio </span>
        </div>
      }
    </div>
    <div class="div-btn">
      <button class="btn" nz-button nzType="primary" (click)="envioFormulario()" [disabled]="formNuevoTrabajo.invalid"  [nzLoading]="isLoading" >Envio formulario</button>
    </div>
  </form>
</div>
