<h2>Total trabajos realizados: <span class="total">{{trabajos.length}}</span></h2>
<hr>
<nz-table
#nzTable
[nzData]="trabajos"
[nzScroll]="{y:'720px'}"
[nzShowPagination]="false"
[nzFrontPagination]="false"
>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Placa</th>
      <th>Trabajo realizado</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    @for (item of trabajos; track $index) {
      <tr>
        <td>{{item?.name}}</td>
        <td>{{item?.plate}}</td>
        <td>{{item?.typeJobs}}</td>
        <td>{{item?.date}}</td>
      </tr>
    }
  </tbody>
</nz-table>
