<nz-table
#nzTable
[nzData]="trabajos">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Placa</th>
      <th>Trabajo realizado</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    @for (item of trabajos; track $index) {
      <tr>
        <td>{{item?.name}}</td>
        <td>{{item?.plate}}</td>
        <td>{{item?.typeJobs}}</td>
        <td>{{item?.date}}</td>
        <td>
          <a>Action 一 {{item?.name}}</a>
          <a>Ver mas</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
