/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




.error {
  color: rgb(245, 12, 12);
  font-size: small;
}

.total {
  color: rgb(59, 129, 233);
  font-weight: 700;
}
